.auth_container {
    width: 100%;
    padding: 3em;
    display: grid;
    place-items: center;
    background-image: url('../../assets/images/bg.jpg');
    background-repeat: repeat;
    background-size: contain;
}

.auth_form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: .8em;
    min-width: 350px;
    min-height: 340px;
    padding: 1em;
    border-radius: 12px;
    font-size: 1.2rem;
    background-color: #88888800;
    backdrop-filter: blur(20px);
}

.form_title {
    margin: .6em auto;
}

.auth_msg {
    text-align: center;
    color: var(--text-error);
    font-size: 1rem;
}

.form_row {
    display: flex;
    gap: 10px;
}

.form_item {
    color: aliceblue;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.form_label {
    margin-bottom: 2px;
    color: var(--text-grey-a);
    font-size: .9rem;
}

.form_input {
    height: 36px;
    padding: 0 .9em;
    color: var(--text-grey-c);
    border: none;
    border-radius: 8px;
    background-color: var(--text-grey-2);
}

.form_input::placeholder {
    color: var(--text-grey-8);
    font-size: 0.7em;
}

.form_input:hover,
.form_input:focus {
    background-color: var(--text-grey-3);
    border: none;
    outline: none;
}

.sign_button {
    font-size: .8em;
}

.switch_form {
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    gap: 1em;
}

.switch_form_msg {
    font-size: .7em;
    color: var(--text-grey-8);
    cursor: pointer;
}

.validation_msg,
.error_msg {
    color: var(--text-error);
    font-size: .9em;
}