.btn_wrapper {
    display: grid;
    /* place-items: center; */
}

button {
    padding: .4em 1em;
    border-radius: 5px;
    color: var(--text-grey-c);
    background-color: var(--text-grey-2);
}

button:hover,
button:focus {
    background-color: var(--text-grey-3);
}


.search_btn {
    border-radius: 0 5px 5px 0;
}