.to_top_btn {
    position: fixed;
    bottom: 2em;
    left: 2em;

    width: 50px;
    height: 50px;

    display: grid;
    place-items: center;

    border-radius: 8px;
    cursor: pointer;
    z-index: 50;

    color: var(--text-grey-c);
    background-color: #80808022;
    backdrop-filter: blur(30px);
}

.to_top_btn:hover,
.to_top_btn:focus {
    background-color: #50505044;
}