.home_container {
    margin: 0 auto;
    padding: 0 3em;
}

@media screen and (max-width: 640px) {
    .home_container {
        padding: 0 1em;
    }
}

.sidebar {
    min-width: 150px;
    padding: .8em;
}

.listcards_section {
    padding: .8em 0;
    color: var(--text-white);
}